include ../../common-components/head/head.jade

doctype html
html
	+head( 'page-one' )
	body
		h1
			| GPRO
		.chart
			.candlestick
				.wick( class="upper" )
					.high
						p 1.60
					.low
						p 1.50
					.line
				.body
				.wick( class="lower" )
					.high
						p 1.20
					.low
						p 1.00
					.line
		#results
			p

