include ../../common-components/head/head.jade

doctype html
html
	+head( 'page-one' )
	body
		h1
			| insert a symbol to begin.
		.chart
			.candlestick.muted
				.wick( class="upper" )
					.high
						p
					.low
						p
					.line
				.body
				.wick( class="lower" )
					.high
						p
					.low
						p
					.line
		#results
			p
		form( id="symbol-form" action="#" class="active" )
			label( for="o-bs-sum-bug-ErrorPrefix" ) $
			input( class="symbol-input" label="$" )

