// Page one
$tcgblue: #1a4584;

body
{
	background: $tcgblue;
}

h1
{
	position: fixed;
	width: 80%;
	top: 25px;
	left: 50%;

	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;

	transform: translate( -50%, 0 );
}

#symbol-form
{
	opacity: 0;
	position: fixed;
	pointer-events: none;
	width: 80%;
	top: 50%;
	left: 50%;

	transition: all 250ms ease-out;
	transform: translate( -50%, -50% );
	input
	{
		padding: 0px 90px;
		outline: 0;
		border: 0;
		border-bottom: 1px solid rgba( 255, 255, 255, 1 );
		background-color: transparent;

		color: white;
		font-size: 10em;
		text-transform: uppercase;
	}
	input:before
	{
		content: '$';
	}
	label
	{
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 10;

		color: white;
		font-size: 10em;
	}
}
#symbol-form.active
{
	opacity: 1;
}

.candlestick
{
	align-items: center;

	display: flex;
	cursor: pointer;

	transition: all 450ms ease-out;

	div
	{
		transition: all 550ms ease-out;
	}
}

.candlestick.muted
{
	opacity: 0.3;

	filter: blur(3px);
}

body.pos
{
	background: #718db5;
}

.candlestick.pos
{
	.body,
	.line
	{
		background-color: #ccf0b2;
	}
}

body.neg
{
	background: #f391e2;
}

.candlestick.neg
{
	.body,
	.line
	{
		background-color: #e44585;
	}
}

.candlestick:hover
{
	.high,
	.low
	{
		opacity: 1;
	}

	.high
	{
		top: 5px;
	}

	.low
	{
		bottom: 5px;
	}

	.body,
	.line
	{
		opacity: 0.8;
	}
}

.body
{
	width: 20px;
	height: 50px;
	border-radius: 3px;
	background-color: rgba( 0, 0, 0, 0.8);
	box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.15 );
}

.wick
{
	position: relative;
	width: 50px;
	height: 150px;
	.line
	{
		opacity: 0.5;
		position: absolute;
		width: 2px;
		height: 100%;
		top: 0;
		left: 50%;
		z-index: 0;
		border-radius: 2px;
		background-color: rgba( 0, 0, 0, 0.8);
	}

	.high,
	.low
	{
		opacity: 0;
		position: absolute;
		left: 50%;
		z-index: 5;
		background-color: rgba( 255, 255, 255, 1 );
		box-shadow: 0px 0px 15px rgba( 0, 0, 0, 0.15 );

		transition: all 250ms ease-out;
		transform: translate(-50%,0);

		p
		{
			padding: 0px 15px;

			font-size: 10px;
			line-height: 20px;
		}
	}

	.high
	{
		top: 10px;
	}
	.low
	{
		bottom: 10px;
	}
}

.upper
{
	.high
	{
		transition-delay: 75ms;
	}
}
.lower
{
	.low
	{
		transition-delay: 75ms;
	}
}


#results
{
	opacity: 0;
	position: fixed;
	bottom: 15px;
	left: 50%;

	color: white;

	transition: all 250ms ease-out;
	transform: translate( -50%, 0 );
}
#results.active
{
	opacity: 1;
}
